name: Compile

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run script
      run: |
        mkdir ${{ github.workspace }}/build
        echo ${{ github.workspace }}/build | python rcc.py install rcc

    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: rcc-artifact
        path: ${{ github.workspace }}/build/${{ runner.os == 'Windows' && 'rcc.exe' || 'rcc' }}
